/*limpando formatação padrão */
*{
    margin : 0px;
    padding : 0px;
    
}

 span{
    color:aqua
 }
body{
    font-size: lem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #e6e6e6;
}
div{
    
        border: 1px solid #ddd;
        padding: 20px;
        margin: 10px;
        text-align: center;
}
/* layout */
#area-cabecalho{
    background-color:#fff;
    padding: 15px;
    text-align: center;
}

#area-logo{
    padding: 15px;
}

h1{
    color: ;
    font-size: 2.5em;
}
.eletro {
    color: aquamarine;
}
h2{
    color: ;
    font-size: 2.5em;
    color: rgb(178, 196, 181);
}
    
/*formataçaõ do menu*/

a{
    text-decoration: none;
}

a:link a:visited {
   color:hsl(239, 69%, 20%);
}

a:hover{
    text-decoration: underline;
}
#area-cabecalho a:link,  #ares-cabecalho a:visited{
    color: ;
    padding: 8px, 12px;
}
#area-cabecalho a:hover {
    color:rgb(25, 0, 255) ;
    background:#e6e6e6;
    text-decoration: none;
}
    #area-principal{
        margin: 15px auto;
        background: rgb(0, 17, 255);
        width: 920px;
        color:aqua
    }

}

#rodape{
    background:#696969 ;
    clear: both;
    text-align: center;
    padding: 15px;
}